{% extends 'layout.njk' %} {% block head %}
<link rel="stylesheet" href="./styles/pagina-descricao.css" />

<title>Quem somos?</title>
{% endblock %} {% block content %}
<div class="container">
  <img
    src="https://avatars3.githubusercontent.com/u/69590972?s=200&v=4"
    alt="Rocketseat"
  />
  <h1>Rocketseat</h1>
  <p>
    Empresa educacional com o objetivo de formar novos profissionais na área de
    tecnologia, voltado para o desenvolvimento de software web.
  </p>

  <ul>
    <li>Javascript</li>
    <li>HTML</li>
    <li>CSS</li>
  </ul>

  <div class="links">
    <a href="https://github.com/rocketseat-education" target="_blank">Github</a>
    <a href="https://www.instagram.com/rocketseat_oficial/" target="_blank"
      >Instagram</a
    >
    <a href="https://www.linkedin.com/school/rocketseat/" target="_blank"
      >Linkedin</a
    >
  </div>
</div>
{% endblock %}
