{% extends 'layout.njk' %}

{% block content %}
<div class="card">
  <section style="background: url('https://source.unsplash.com/collection/9021218/500x500') no-repeat center center / cover"></section>

  <section class="details">
    <h3>Informação</h3>

    <div class="item">
      <div>Nome completo</div>
      <div>Caio Rodrigues</div>
    </div>

    <div class="item">
      <div>Idade</div>
      <div>23</div>
    </div>

    <div class="item">
      <div>Grau de escolaridade</div>
      <div>Graduação</div>
    </div>

    <div class="item">
      <div>Tipo de aula</div>
      <div>à distância</div>
    </div>

    <div class="item">
      <div>Acompanhamento</div>
      <div>
        <span>Programação</span>
        <span>Matemática</span>
      </div>
    </div>

    <div class="item">
      <div>Desde</div>
      <div>08/08/2020</div>
    </div>
  </section>
</div>
{% endblock %}